name: Build, Test, and Push Docker Image

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run basic syntax test
        run: python -m py_compile *.py

      - name: Build Docker image
        run: docker build -t network-monitor-api .

      - name: Log in to GHCR
        run: echo ${{ secrets.DOCKER_PASSWORD }} | docker login ghcr.io -u ${{ secrets.DOCKER_USERNAME }} --password-stdin

      - name: Tag Docker image
        run: |
          docker tag network-monitor-api:latest ghcr.io/${{ github.repository_owner }}/network-monitor-api:latest
          docker tag network-monitor-api:latest ghcr.io/${{ github.repository_owner }}/network-monitor-api:v1

      - name: Push Docker image
        run: |
          docker push ghcr.io/${{ github.repository_owner }}/network-monitor-api:latest
          docker push ghcr.io/${{ github.repository_owner }}/network-monitor-api:v1
